@media (min-width: 601px) {
    

html{
    box-sizing: border-box;
    height: 100%;
    font-family: "Jacquard 24", system-ui;
}

.cascadia-mono {
    font-family: "Cascadia Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    min-height: 100%;
    margin: 0;
    background-color: #000;
    display: grid;
    grid-template-areas: 
                        'info story'
                        'links story';
    grid-template-columns: 40% 60%;
    grid-template-rows: 74.5% 25%;
}

.start-screen {
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-button{
    width: 10rem;
    height: 5rem;
    font-family: "Jacquard 24", system-ui;
    font-size: 2rem;
    background-color: #000;
    border: 2px solid rgb(80, 80, 80);
    transition: box-shadow 0.2s linear;
    cursor: pointer;
    border-radius: 25px;
    color: #fff;
}

#start-button:hover {
    box-shadow: 2px 2px 25px rgba(80, 80, 80);
    animation: fade 1.5s linear infinite;
}

.info-container {
    grid-area: info;
    background-color: #000;
}
p {
    margin: 0;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

#clock {
    font-size: 12rem;
    color: white;
    text-align: center;
    margin-top: 7rem;
}

#alert {
    font-size: 2.1rem;
    text-align: center;
}

.links-container {
    grid-area: links;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: background-color 0.2s linear box-shadow 0.2s linear;
    margin-left: 2px;
}

a:hover {
    background-color: #F00;
    box-shadow: 2px 2px 5px #f00 ;
}

.links {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    transition: width 0.2s linear height 0.2s linear;
}

.links:hover {
    width: 31px;
    height: 31px;
}

.story-container {
    grid-area: story;
    display: flex;
    flex-direction: column;
    background-color: #000;
    display: grid;
    grid-template-areas: 'riddle-container'
                         'video-container';
    grid-template-rows: 48% auto;
}

.riddle{
    grid-area: riddle-container;
    box-sizing: border-box;
    padding: 2rem 6rem;
}

.Try-buttom {
    color: #fff;
    font-size: 1rem;
    background-color: rgb(216, 0, 0);
    border-radius: 5px;
    border: none;
    width: 6rem;
    height: 2rem;
    margin: 3rem 1rem;
    cursor: pointer;
}

.Try-button:hover {
    background-color: rgb(109, 0, 0);
}

input {
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #1b1b1b;
    border: none;
    width: 10rem;
    height: 2rem;
    margin-top: 3rem;
    margin-left: 12rem;
}

.video-container {
    grid-area: video-container;
    position: relative;
    margin-left: auto;
    width: 100vh;
    padding: 0;
}

.text-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100vh;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.subtitles {
    font-family: "tahoma";
    font-size: 2rem;
    color: #fff;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
    font-weight: bold;
}

.background-gif {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100vh;
    height: 100%;
    z-index: 0;
}

#finalImg {
    width: 20rem;
    height: 30rem;
    margin-top: 5rem;
    opacity: 0.6;
    margin-left: 80vh;
    animation: fimg-opcty 2s;
}
@keyframes fimg-opcty{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.6;
    }
}

.fmsgc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.finalP {
    color: #fff;
    font-size: 4rem;
    font-family: "Jacquard 24", system-ui;
    display: block;
}

}